pyspark==3.0.0
numpy
pandas
matplotlib
torchvision
pytorchvideo
git+https://github.com/facebookresearch/fvcore.git
validators
pyarrow
fastparquet
av
resampy
soundfile
sklearn
tqdm
tensorflow
tensorboard
nibabel
git+https://github.com/ncullen93/torchsample
